@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@theme static {
  --color-pink-100: oklch(0.97 0.02 9);
  --color-pink-200: oklch(0.92 0.04 9);
  --color-pink-300: oklch(0.86 0.08 9);
  --color-pink-400: oklch(0.8 0.12 9);
  --color-pink-500: oklch(0.72 0.16 9);
  --color-pink-600: oklch(0.63 0.14 9);
  --color-pink-700: oklch(0.54 0.12 9);
  --color-pink-800: oklch(0.42 0.09 9);
  --color-pink-900: oklch(0.31 0.07 9);
  --color-red-100: oklch(0.97 0.02 20);
  --color-red-200: oklch(0.92 0.04 20);
  --color-red-300: oklch(0.86 0.08 20);
  --color-red-400: oklch(0.8 0.12 20);
  --color-red-500: oklch(0.72 0.16 20);
  --color-red-600: oklch(0.63 0.14 20);
  --color-red-700: oklch(0.54 0.12 20);
  --color-red-800: oklch(0.42 0.09 20);
  --color-red-900: oklch(0.31 0.07 20);
  --color-apricot-100: oklch(0.97 0.02 47);
  --color-apricot-200: oklch(0.92 0.04 47);
  --color-apricot-300: oklch(0.86 0.08 47);
  --color-apricot-400: oklch(0.8 0.12 47);
  --color-apricot-500: oklch(0.72 0.16 47);
  --color-apricot-600: oklch(0.62 0.14 47);
  --color-apricot-700: oklch(0.53 0.12 47);
  --color-apricot-800: oklch(0.42 0.09 47);
  --color-apricot-900: oklch(0.31 0.07 47);
  --color-orange-100: oklch(0.96 0.02 73);
  --color-orange-200: oklch(0.92 0.04 73);
  --color-orange-300: oklch(0.85 0.08 73);
  --color-orange-400: oklch(0.79 0.12 73);
  --color-orange-500: oklch(0.71 0.16 73);
  --color-orange-600: oklch(0.62 0.14 73);
  --color-orange-700: oklch(0.53 0.12 73);
  --color-orange-800: oklch(0.41 0.09 73);
  --color-orange-900: oklch(0.3 0.07 73);
  --color-amber-100: oklch(0.96 0.02 82);
  --color-amber-200: oklch(0.92 0.04 82);
  --color-amber-300: oklch(0.85 0.08 82);
  --color-amber-400: oklch(0.79 0.12 82);
  --color-amber-500: oklch(0.71 0.16 82);
  --color-amber-600: oklch(0.62 0.14 82);
  --color-amber-700: oklch(0.53 0.12 82);
  --color-amber-800: oklch(0.41 0.09 82);
  --color-amber-900: oklch(0.3 0.07 82);
  --color-yellow-100: oklch(0.96 0.02 102);
  --color-yellow-200: oklch(0.92 0.04 102);
  --color-yellow-300: oklch(0.85 0.08 102);
  --color-yellow-400: oklch(0.79 0.12 102);
  --color-yellow-500: oklch(0.7 0.16 102);
  --color-yellow-600: oklch(0.61 0.14 102);
  --color-yellow-700: oklch(0.52 0.12 102);
  --color-yellow-800: oklch(0.41 0.09 102);
  --color-yellow-900: oklch(0.3 0.07 102);
  --color-lime-100: oklch(0.96 0.02 135);
  --color-lime-200: oklch(0.91 0.04 135);
  --color-lime-300: oklch(0.84 0.08 135);
  --color-lime-400: oklch(0.78 0.12 135);
  --color-lime-500: oklch(0.69 0.16 135);
  --color-lime-600: oklch(0.6 0.14 135);
  --color-lime-700: oklch(0.51 0.12 135);
  --color-lime-800: oklch(0.4 0.09 135);
  --color-lime-900: oklch(0.29 0.07 135);
  --color-emerald-100: oklch(0.96 0.02 158);
  --color-emerald-200: oklch(0.91 0.04 158);
  --color-emerald-300: oklch(0.84 0.08 158);
  --color-emerald-400: oklch(0.77 0.12 158);
  --color-emerald-500: oklch(0.69 0.16 158);
  --color-emerald-600: oklch(0.6 0.14 158);
  --color-emerald-700: oklch(0.51 0.12 158);
  --color-emerald-800: oklch(0.4 0.09 158);
  --color-emerald-900: oklch(0.29 0.07 158);
  --color-cyan-100: oklch(0.96 0.02 189);
  --color-cyan-200: oklch(0.91 0.04 189);
  --color-cyan-300: oklch(0.84 0.08 189);
  --color-cyan-400: oklch(0.77 0.12 189);
  --color-cyan-500: oklch(0.68 0.16 189);
  --color-cyan-600: oklch(0.59 0.14 189);
  --color-cyan-700: oklch(0.5 0.12 189);
  --color-cyan-800: oklch(0.4 0.09 189);
  --color-cyan-900: oklch(0.29 0.07 189);
  --color-sky-100: oklch(0.96 0.02 215);
  --color-sky-200: oklch(0.91 0.04 215);
  --color-sky-300: oklch(0.84 0.08 215);
  --color-sky-400: oklch(0.78 0.12 215);
  --color-sky-500: oklch(0.69 0.16 215);
  --color-sky-600: oklch(0.6 0.14 215);
  --color-sky-700: oklch(0.51 0.12 215);
  --color-sky-800: oklch(0.4 0.09 215);
  --color-sky-900: oklch(0.29 0.07 215);
  --color-cerulean-100: oklch(0.96 0.02 233);
  --color-cerulean-200: oklch(0.91 0.04 233);
  --color-cerulean-300: oklch(0.85 0.08 233);
  --color-cerulean-400: oklch(0.78 0.12 233);
  --color-cerulean-500: oklch(0.7 0.16 233);
  --color-cerulean-600: oklch(0.6 0.14 233);
  --color-cerulean-700: oklch(0.52 0.12 233);
  --color-cerulean-800: oklch(0.4 0.09 233);
  --color-cerulean-900: oklch(0.29 0.07 233);
  --color-iris-100: oklch(0.97 0.02 284);
  --color-iris-200: oklch(0.92 0.04 284);
  --color-iris-300: oklch(0.86 0.08 284);
  --color-iris-400: oklch(0.79 0.12 284);
  --color-iris-500: oklch(0.72 0.16 284);
  --color-iris-600: oklch(0.62 0.14 284);
  --color-iris-700: oklch(0.53 0.12 284);
  --color-iris-800: oklch(0.42 0.09 284);
  --color-iris-900: oklch(0.31 0.07 284);
  --color-violet-100: oklch(0.97 0.02 303);
  --color-violet-200: oklch(0.92 0.04 303);
  --color-violet-300: oklch(0.86 0.08 303);
  --color-violet-400: oklch(0.8 0.12 303);
  --color-violet-500: oklch(0.72 0.16 303);
  --color-violet-600: oklch(0.62 0.14 303);
  --color-violet-700: oklch(0.53 0.12 303);
  --color-violet-800: oklch(0.42 0.09 303);
  --color-violet-900: oklch(0.31 0.07 303);
  --color-orchid-100: oklch(0.97 0.02 330);
  --color-orchid-200: oklch(0.92 0.04 330);
  --color-orchid-300: oklch(0.86 0.08 330);
  --color-orchid-400: oklch(0.8 0.12 330);
  --color-orchid-500: oklch(0.73 0.16 330);
  --color-orchid-600: oklch(0.63 0.14 330);
  --color-orchid-700: oklch(0.54 0.12 330);
  --color-orchid-800: oklch(0.42 0.09 330);
  --color-orchid-900: oklch(0.31 0.07 330);
}

@layer base {
  :root {
    color-scheme: light;
    --background: var(--color-taupe-200);
    --foreground: var(--color-taupe-700);
    --nav: var(--color-taupe-200);
    --nav-foreground: var(--color-taupe-500);
    --card: var(--color-taupe-50);
    --card-foreground: var(--color-taupe-700);
    --card-hover: var(--color-taupe-100);
    --popover: var(--color-taupe-100);
    --popover-foreground: var(--color-taupe-700);
    --popover-hover: var(--color-taupe-200);
    --button: var(--color-taupe-100);
    --button-foreground: var(--color-taupe-700);
    --button-hover: var(--color-taupe-300);
    --primary: var(--color-violet-300);
    --primary-foreground: var(--color-violet-600);
    --secondary: var(--color-cyan-400);
    --secondary-foreground: var(--color-neutral-100);
    --muted: var(--color-taupe-300);
    --muted-foreground: var(--color-taupe-400);
    --accent: var(--color-apricot-600);
    --accent-foreground: var(--color-neutral-50);
    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-neutral-50);
    --border: var(--color-taupe-300);
    --ring: var(--color-violet-500);
    --radius: 0.5rem;
    @variant dark {
      color-scheme: dark;
      --background: var(--color-neutral-900);
      --foreground: var(--color-neutral-300);
      --nav: var(--color-neutral-900);
      --nav-foreground: var(--color-neutral-50);
      --card: var(--color-neutral-800);
      --card-foreground: var(--color-neutral-50);
      --card-hover: var(--color-neutral-700);
      --popover: var(--color-neutral-900);
      --popover-foreground: var(--color-neutral-50);
      --popover-hover: var(--color-neutral-700);
      --button: var(--color-neutral-800);
      --button-foreground: var(--color-neutral-50);
      --button-hover: var(--color-neutral-700);
      --primary: var(--color-violet-900);
      --primary-foreground: var(--color-violet-500);
      --secondary: var(--color-cyan-600);
      --secondary-foreground: var(--color-neutral-50);
      --muted: var(--color-neutral-800);
      --muted-foreground: var(--color-neutral-400);
      --accent: var(--color-apricot-600);
      --accent-foreground: var(--color-neutral-50);
      --destructive: var(--color-red-600);
      --destructive-foreground: var(--color-neutral-50);
      --border: var(--color-neutral-700);
      --ring: var(--color-violet-400);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav: var(--nav);
  --color-nav-foreground: var(--nav-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-hover: var(--card-hover);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-hover: var(--popover-hover);
  --color-button: var(--button);
  --color-button-foreground: var(--button-foreground);
  --color-button-hover: var(--button-hover);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-outline: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 4px);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--primary);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
